// code generation

package {{ .PackageName }}

import (
    "github.com/jacoelho/iban/ascii"
)

func Validate{{ .CountryName }}IBAN(iban string) error {
    {{- range .Rules }}
    if subject := iban[{{ .StartPos }}:{{ .EndPos }}]; {{ rule . "subject" }} {
        return errors.New("validation error")
    }
    {{ end }}
    return nil
}
