on: [push, pull_request]
name: test and build
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v1
        with:
          go-version: 1.14.x
      - run: make ci-tidy
      - run: make build
