on:
  push:
    branches: [master]
  pull_request:
name: test and build
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@v3'

      - uses: 'actions/setup-go@v3'
        with:
          go-version-file: 'go.mod'

      - run: make ci-tidy

      - run: make staticcheck

      - run: cd registry && make -f ../Makefile

      - run: make test

